* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-top: 76px;
  }

.titleContainer{
    position: relative;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: #444;
}

.spinner-container {
    position: absolute;
    top: 150px;
    left: 50%;

  }
.logo {
    width: 50px;
}

.item-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 20px;
    justify-items: center;
}

.gap-nav-cart {
    gap: 60px;
}

.navbar .button-css{
    border: none ;
}

.cart-ico{
    font-size: 1.6rem;
    color: #eee;
}

.navbar .button-css:focus {
    box-shadow: none;
}

.navbar-expand-md .navbar-nav .nav-link{
    color: #ddd;
}

.navbar-expand-md .navbar-nav .nav-link:focus {
    color: #09f;
}

.card {
    width: 12rem;
}

.card p {
    text-transform: capitalize;
    margin-bottom: 5px;
}

.card-contein {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
}

.card-contein img {
    width: 250px;
}

.card-detail {
    padding: 10px;
}

.card-detail h1 {
    color: #444;
    padding-bottom: 20px;
}

.card-detail p {
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.card-detail-precio{
    color: green;
    font-weight: 700;
}

.count-contain {
    margin: 20px 0;
}

.count-btns {
    margin: 5px 0;
    padding: 5px 0;
}

.count-btns button {
    font-weight: 500;
}

.count-btns span {
    font-size: 16px;
    font-weight: 500;
}

.span-categoria {
    color: #07f;
    text-transform: capitalize;
}

@media (min-width: 768px){
    
    .item-list {
        grid-template-columns: 1fr 1fr;
    }

    .cartContainer {
        padding: 8px 0;
        margin: 5px 0;
    }
    
    .card {
        width: 16rem;
    }

    .card-contein {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
        padding: 20px 0;
    }
    

    .card-contein img {
        width: 400px;
    }
    
    .card-detail {
        padding: 10px;
    }
    
    .card-detail p {
        border-bottom: none;
        font-size: 18px;
    }
}

@media (min-width: 1280px){

    .item-list {
        grid-template-columns: repeat(4, 1fr);
        width: 75%;
        margin: auto;
    }

}